/* CSS personalizado externo de 2017.chiclana.wordcamp.org */

body, .site-description {
	font-family: 'Roboto', sans-serif !important;
}

img {
	max-width: 100% !important;
	height: auto;
}

body {
	color: #171534;
}

body:before {
	background: red;
}

body.custom-background {
	background-color: #161534;
	background-attachment: fixed;
	background-size: cover;
}

#sidebar {
	text-align: center;
}

.site-title a {
}

.site-description {
	font-size: 21px;
	color: #171534;
}

.main-navigation ul {
	border-bottom: 0;
	border-top: 0;
}

.main-navigation li {
	border: 0;
}

.main-navigation li a {
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	padding: 10px 20px;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation li > a:hover {
	background-color: #981932;
	color: #fff;
}

.entry-title, .entry-title a {
	color: #981932;
	font-size: 45px;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.entry-footer {
	background-color: #3e3c6b;
	color: #fff;
}

.entry-footer a {
	color: #fff;
	font-size: 16px;
	margin-left: 10px;
}

.entry-footer a:hover {
	color: #fff;
	text-decoration: none;
}

.posted-on:before {
	top: 0;
	width: 25px;
	height: 25px;
	overflow: hidden;
	text-indent: -2000px;
	background: url('https://2016.prague.wordcamp.org/files/2015/12/publish_icon.jpg') top left no-repeat;
}

.byline:before, .cat-links:before, .cat-links:before, .tags-links:before, .comments-link:before, .entry-format:before, .edit-link:before, .full-size-link:before {
	font-size: 29px;
	top: -4px;
}

.entry-content a {
	color: #981932 !important;
	border-bottom: 0;
	text-decoration: underline;
}

.entry-content a:hover {
	text-decoration: none;
}

.entry-content h2 {
	font-size: 25px;
	color: #171534 !important;
}

.entry-content h3 {
	font-size: 19px;
	color: #981932;
}

.entry-content ul {
	list-style-type: none;
	padding-left: 0;
}

.entry-content ul li {
	position: relative;
	padding-left: 20px;
}

.entry-content ul li:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #981932;
	left: 0;
	top: 11px;
}

.widget_wpcom_social_media_icons_widget li {
	display: inline-block;
	margin-right: 5px;
	font-size: 0;
	width: 24px;
	height: 24px;
}

.widget_wpcom_social_media_icons_widget li a {
	display: inline-block;
	width: 24px;
	height: 24px;
	text-indent: -2000px;
	overflow: hidden;
}

.widget_wpcom_social_media_icons_widget li a.genericon-twitter {
	background-image: url('https://2016.prague.wordcamp.org/files/2015/12/WPCAMPPRAGUE2_13.png');
}

.widget_wpcom_social_media_icons_widget li a.genericon-youtube {
	background-image: url('https://2016.prague.wordcamp.org/files/2015/12/WPCAMPPRAGUE2_15.png');
}

.widget_wpcom_social_media_icons_widget li a.genericon-facebook {
	background-image: url('https://2016.prague.wordcamp.org/files/2015/12/WPCAMPPRAGUE2_11.png');
}

.jetpack_subscription_widget .widget-title {
	font-weight: bold;
	font-size: 27px;
	letter-spacing: -2px;
	color: #171534;
	margin-bottom: 2px;
}

#subscribe-text {
	color: #171534;
	line-height: 1.2em;
}

#subscribe-email, #subscribe-submit {
	float: left;
}

#subscribe-email {
	margin-left: 10px;
}

.jetpack_subscription_widget #subscribe-email input {
	background-color: #fff;
	border-left: solid #e1e1e1 1px;
	border-top: solid #e1e1e1 1px;
	border-bottom: solid #e1e1e1 1px;
	border-right: 0;
	color: #171534;
	height: 35px;
	line-height: 35px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.jetpack_subscription_widget #subscribe-submit input[type="submit"] {
	background-color: #981932;
	height: 35px;
	line-height: 35px;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 0;
	font-size: 13px;
}

.jetpack_subscription_widget #subscribe-submit input[type="submit"]:hover {
	background-color: #3e3c6b;
}

.wcorg-organizer-description img {
	float: left;
	margin: 0 1em 1em 0;
}

/*smitka 5.1. - cudl na pozvanku */
.btn-pozvanka {
	background-color: #981932;
	padding: 10px 20px;
	text-decoration: none !important;
	margin-top: 16px;
	display: inline-block;
}

.bnt-pozvanka span {
	color: #fff;
	font-size: 20px;
}

.entry-content ul.tix-attendee-list li:before, .entry-content .sd-content ul li:before {
	content: none !important;
}

@media screen and (max-width: 65em) {
	#tix-attendees .tix-columns-3 li {
		width: 50%;
	}
}

@media screen and (max-width: 50em) {
	#tix-attendees .tix-columns-3 li {
		width: 100%;
	}
}

.hentry.post-777 {
	padding-top: inherit !important;
}

.post-777 .post-thumbnail {
	display: none;
}

#image-2 {
	display: none;
}

.lynt_clear {
	clear: both;
}

.center {
	text-align: center;
}

.rg-container {
	font-size: 16px;
	line-height: 1;
	margin: 0;
	padding: 1em 0;
	color: #1a1a1a;
}

table.rg-table {
	margin: 0 0 1em;
	width: 100%;
	font-size: 1em;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid rgba(51,51,51,0.1);
}

table.rg-table * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	color: #333;
}

table.rg-table thead {
	border-bottom: 1px solid rgba(195,195,197,.3);
}

table.rg-table th {
	font-weight: bold;
	padding: .5em;
	font-size: .85em;
	line-height: 1.4;
}

table.rg-table td {
	padding: .5em;
	font-size: .9em;
	line-height: 1.4;
}

table.rg-table tr {
	border-bottom: 1px solid rgba(195,195,197,.3);
	color: #222;
}

/*31-05-17*/
footer.entry-footer {
	background-color: #981932;
}

.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a, .main-navigation li > a:hover {
	background-color: #981932;
}

.entry-title, .entry-title a {
	color: #981932;
}

@media screen and (max-width: 100px) {
	.rg-container {
		max-width: 500px;
		margin: 0 auto;
	}
	
	table.rg-table {
		display: block;
		width: 100%;
	}
	
	table.rg-table thead {
		display: none;
	}
	
	table.rg-table tbody {
		display: block;
		width: 100%;
	}
	
	table.rg-table td:last-child {
		padding-right: 0;
		border-bottom: 2px solid #ccc;
	}
	
	table.rg-table tr, table.rg-table th, table.rg-table td {
		display: block;
		padding: 0;
		width: 100%;
	}
	
	table.rg-table td[data-title]:before {
		content: attr(data-title) ":A0";
		font-weight: bold;
		display: inline-block;
		content: attr(data-title);
		float: left;
		margin-right: .5em;
		font-size: .95em;
	}
	
	table.rg-table tr {
		border-bottom: none;
		margin: 0 0 1em;
		padding: .5em 0;
	}
	
	table.rg-table tr:nth-child(even) {
		background: none;
	}
	
	table.rg-table td {
		padding: .5em 0 .25em;
		border-bottom: 1px dotted #ccc;
		text-align: right;
	}
	
	table.rg-table td:empty {
		display: none;
	}
}

.wcorg-sponsor h3 {
	display: none;
}

.wcorg-sponsor-description img {
	display: block;
	margin: 0 auto;
}

#wcorg-sponsor-23 img,
#wcorg-sponsor-20 img {
	margin-bottom: -15%;
	margin-top: -20%;
}

#wcorg-sponsor-23 .wcorg-sponsor-description,
#wcorg-sponsor-20 .wcorg-sponsor-description {
	overflow: hidden;
}

#wcorg-sponsor-756 img {
	margin-bottom: 5%;
}

#wcorg-sponsor-20 img {
	margin-bottom: -15%;
}

#wcorg-sponsor-633 img {
	margin-bottom: 5%;
}

#wcorg-sponsor-1089 img {
	margin: 10% auto 5%;
}

#wcorg-sponsor-1158 img {
	width: 50%;
	margin-top: 5%;
}

.hlavni-partneri {
	text-align: center;
}

.hlavni-partneri p, .hlavni-partneri a img {
	display: inline !important;
	margin: 0 3%;
}

.entry-content a img.inline {
	display: inline !important;
}

@media screen and (min-width: 59.6875em) {
	.site-header {
		padding: 0 10%;
	}
}
