/* CSS personalizado EXTERNO de 2017.chiclana.wordcamp.org */

.main-navigation li {
    background: #981932;
}

/* AJUSTER GENERALES
================== */
a {
	border: none;
	text-decoration: underline;
}
.entry-content a, .entry-summary a, .page-content a, .comment-content a, .pingback .comment-body > a {
    border-bottom: none;
}
/* CAJA AVISO 
================== */
div.aviso {
   padding: 0.5rem 2rem;
   background: papayawhip;
   border: 2px solid antiquewhite;
}

/* CAJA IMPORTANTE
================== */
div.importante {
    background: aliceblue;
    padding: 2rem;
    border: 1px solid chocolate;
}

.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a,
.pingback
.comment-body > a {
	color:#981932 !important; 
	text-decoration: underline;
	border-bottom:none !important;
}

/* btn Acción 
================== */
.btn-accion {
    background: #981932;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
}

.btn-accion a {
    color:#fff !important;
    text-decoration: none !important;
	border-bottom:none !important;
}
