/* CSS personalizado EXTERNO de 2017.chiclana.wordcamp.org */

.main-navigation li {
    background: #981932;
}

/* CAJA AVISO 
================== */
div.aviso {
   padding: 0.5rem 2rem;
   background: papayawhip;
   border: 2px solid antiquewhite;
}

/* CAJA IMPORTANTE
================== *
div.importante {
    background: aliceblue;
    padding: 2rem;
    border: 1px solid chocolate;
}

