.main-navigation {
	
	.is-featured a {
		background: $wcc--button--background;
		color: $wcc--button--color;
		font-weight: 700;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		text-align: center;
		text-transform: uppercase;
	}

}