body {
	background-color: $wcc--body--background;
}

body, 
button, 
input, 
select, 
textarea {
	color: $wcc--body--color;
	font-family: $wcc--font-family;
}

p,
address,
pre,
hr,
ul,
ol,
dl,
dd,
table {
	margin-bottom: 1em;
}

iframe {
	width: 100%;
}

@media screen and (min-width: 87.6875em) {

	body:before {
		width: -webkit-calc(46% - 289px);
		width: calc(46% - 289px);
	}

}