$wcc--color--custom-blue: #64bee6;
$wcc--color--custom-yellow: #fcc97a;
$wcc--color--custom-orange: #edba8e;
$wcc--color--custom-red: #932f46;
$wcc--color--custom-red--dark: #642836;
$wcc--color--custom-pink: #ddb8bc;
$wcc--color--custom-black: #3c3c3b;

$wcc--color--black: #22313f;
$wcc--color--gray: #fafafa;
$wcc--color--white: #fff;


// ELEMENTS

$wcc--body--background: $wcc--color--gray;
$wcc--body--color: $wcc--color--black;

$wcc--heading--color: $wcc--color--black;

$wcc--button--background: $wcc--color--custom-red;
$wcc--button--background-hover: $wcc--color--custom-red--dark;
$wcc--button--color: $wcc--color--white;
$wcc--button--color-hover: $wcc--color--white;

